:root{
    --color1: #08B2E3;
    --color2: #EE6352;
    --color3: #EFE9F4;
    --color4: #FFFFFA;
    --color5: #232323;
}
*{
    margin: 0;
    padding: 0;
}


body {
    font-size: 20px;
    font-family: 'Bitter', serif;   
    color: var(--color5);
}

h1,h2,h3,h4{
    font-style: normal;
    font-weight: 100;
    font-family: 'VT323', monospace;
}
h2{
    font-size: 3rem;
}

#container{
    display: flex;
    direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100vw;
    background: linear-gradient(180deg, var(--color4),var(--color3));
}

header{
    width: 100%;
    height: auto;
    padding: 25px 0 50px 0;
    text-align: center;
    border: 1px dashed blue;
}

header h1{
    font-size: 5rem;
}

main{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    padding-left: 50px;
}

article{
    min-width: 300px;
    flex-grow: 2;
    border: 1px dashed blue;
}

footer{
    width: 100%;
    height: 50px;
    padding: 50px;
    text-align: center;
    border: 1px dashed blue;
}

/* nav{
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 3px;
    border-bottom: 1px dashed red;
}

nav ul{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
nav ul li {
    font-size: 1.5rem;
    margin-left: 50px;
    margin-right: 50px;
    display: inline;
} */